<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.hku.cs.curvewrecker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudySetting"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StudyResult"
            android:label="@string/title_activity_study_fail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SleepSetting"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SleepResult"
            android:label="@string/title_activity_study_fail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Calendar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >

        </activity>
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking" >
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Followers"
            android:label="@string/title_activity_followers"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
